---
import { Icon } from "astro-icon";
import { classNameMuted } from "../../constants/classnames";
import { organizationMap, OrgKeys } from "../../constants/organization";

type Props = {
  company: OrgKeys;
  department?: string;
  role?: string;
  designation?: string | undefined;
  startDate: Date;
  endDate?: Date | undefined;
};
const { company, department, role, designation, startDate, endDate } =
  Astro.props as Props;
const companyDetails = organizationMap[company];
const dateTimeFormatter = new Intl.DateTimeFormat("en-IN", {
  year: "numeric",
  month: "long",
});
const displayStartDate: string =
  typeof startDate === "object"
    ? dateTimeFormatter.format(startDate)
    : startDate;
const displayEndDate: string | undefined =
  typeof endDate === "object" ? dateTimeFormatter.format(endDate) : endDate;
---

<div class="company-details grid gap-x-3 gap-y-2">
  <Icon class="w-40 h-20 company-icon" name={companyDetails.icon} />
  {
    role || designation ? (
      <h3 class="company-designation text-2xl text-left m-0">
        {[role, designation].filter(Boolean).join(" / ")}
      </h3>
    ) : null
  }
  <span class="company-name text-lg">
    <a
      href={companyDetails.linkedInUrl}
      target="_blank"
      rel="noopener noreferrer">{company}</a
    >
    {
      department ? (
        <span class:list={[classNameMuted]}>({department})</span>
      ) : null
    }
  </span>
  <span class:list={["company-duration font-light", classNameMuted]}>
    {
      endDate ? (
        <>
          <time datetime={displayStartDate}>{displayStartDate}</time> -
          <time datetime={displayEndDate}>{displayEndDate}</time>
        </>
      ) : (
        <>
          Since <time datetime={displayStartDate}>{displayStartDate}</time>
        </>
      )
    }
  </span>
</div>

<style>
  .company-details {
    grid-template-columns: 1fr;
    grid-template-areas: "icon" "designation" "company" "duration";
  }
  @media (min-width: 600px) {
    .company-details {
      grid-template-columns: 1fr min-content;
      grid-template-areas: "designation icon" "company icon" "duration icon";
    }
  }
  .company-icon {
    grid-area: icon;
  }
  .company-name {
    grid-area: company;
  }
  .company-designation {
    grid-area: designation;
  }
  .company-duration {
    grid-area: duration;
  }
</style>
