---
import { getCollection } from "astro:content";
import Layout from "../../layouts/base/base.astro";
import Card from "../../components/card.astro";

const entries = await getCollection("blog");
const title = "Sujeet's Blog";
---

<Layout title={title} navType="blog">
  <main>
    <h1 class="text-5xl text-center my-8">{title}</h1>
    <ul class="max-w-prose mx-auto">
      {
        entries.map(({ slug, data: { title, description, heroImg, tags } }) => (
          <Card
            title={title}
            description={description}
            imgSrc={heroImg}
            tags={tags}
            href={`/blog/${slug}`}
          />
        ))
      }
    </ul>
  </main>
</Layout>
