---
import CompanyDetails from "../../components/profile/company-details.astro";
import Layout from "../../layouts/layout.astro";

const title = "Sujeet's Profile";
const description = "A detailed list of my work experience";
---

<Layout
  sidenav={false}
  prose={true}
  title={title}
  description={description}
  image={null}
  pageType="site"
  tags={null}
  publishedDate={null}
  updatedDate={null}
>
  <section>
    <h2>Summary</h2>
    <p>
      With 8.5+ years of experience in end-to-end product development, I am
      helping Vista build its $2B+ global eCommerce platform serving over 16M+
      customers across 20+ countries in 25+ locales. Recently, we have moved to
      micro-services, micro-frontends, and micro-site architecture built on AWS.
      I am involved with the E-commerce platform and the Design System at Vista.
    </p>
    <p>
      I spend 60% of my time doing system design, technical implementation, and
      code reviews; the rest is on people and project management. I do
      cross-functional collaborations with different teams, sibling
      organizations, and external/third-party companies.
    </p>
    <p>
      My domain experience includes building eCommerce, Design Systems, Audit
      Systems, Learning Management Systems, Platforms & Infrastructure.
    </p>
    <p>I am looking forward to an Engineering Leadership or equivalent role.</p>
  </section>
  <section>
    <h2>Technical Skills</h2>
    <p><a href="./skills">A detailed view of All the techologies</a></p>
    <ul>
      <li>
        Distributed Systems & Architecture Design for high availability,
        scalability & performance.
      </li>
      <li>Web Performance, Accessibility, SEO, and Internationalization.</li>
      <li>
        Mobile First, Responsive Web Applications built as SPAs, SSR, and SSG
        Pages.
      </li>
      <li>Authentication, Authorization & Access Control (OAuth 2.0).</li>
      <li>Building BFFs, Restful & GraphQL APIs.</li>
      <li>
        Observability & Incident Handling: Analytics & Tracking, Logging,
        Monitoring, and Alerts.
      </li>
      <li>CICD, Testing (unit and e2e), Security (SAST and Synk).</li>
    </ul>
  </section>
  <section>
    <h2>Management & Leadership Skills</h2>
    <ul>
      <li>
        Goal Setting & building roadmap for the teams & products, each mapped
        with org-wide & domain OKRs for visibility and reporting based on
        customer, management, and team inputs.
      </li>
      <li>Agile using Scrum Methodology and Kanban for day-to-day tasks.</li>
      <li>
        Manage Requirement gathering, prioritization, and execution of tasks via
        Cross-functional collaboration with teams, business units, and designers
        within and outside the organization.
      </li>
      <li>
        Manage Performance Reviews, Appraisals, feedback, and career guidance
        for direct reports.
      </li>
      <li>
        Manage two teams with 4-6 developers as direct reports in a product team
        of 8-9 people.
      </li>
      <li>
        Hiring: Building & setting up development teams and helping them
        succeed.
      </li>
      <li>
        Process Setup for intake requests, feedback collection, and
        contributions.
      </li>
      <li>Driving SIGs, ERGs, and D&I Initiatives.</li>
    </ul>
  </section>
  <section>
    <h2>Experience</h2>
    <p><a href="/project">Read about all the projects</a></p>
    <section>
      <CompanyDetails
        company="Vistaprint"
        department="E-commerce Platform"
        href="https://www.linkedin.com/company/vistaprint/"
        role="Acting Engineering Manager"
        designation="Lead Software Engineer"
        icon="company_vistaprint"
        startDate="Aug 2020"
      />
      <p class="italic">Current Designation - Lead Software Engineer</p>
      <h4>Commerce Platform</h4>
      <ul>
        <li>
          Built & Develop discovery and other upper-funnel pages, Cross Sell and
          Upsell Pages for the eCommerce Platform (e.g., Home Page, Product
          Pages, Landing Pages, Offers Pages, Mailing Services, Logo-maker).
        </li>
        <li>
          Managing Account Experience, Marketing Landing Pages, and Blogs (Ideas
          & Advice).
        </li>
      </ul>
      <h4>Design System</h4>
      <ul>
        <li>
          Built a Design token engine: It can configure a token for different
          screen sizes, themes, and dark/light modes. In addition to
          self-configuring CSS variables, they generate SCSS variables,
          functions, and mixins to configure them programmatically.
        </li>
        <li>
          Components are implemented in React & Vanilla JS & CSS with
          accessibility, performance & extensibility at their core, following
          our “freedom within a framework” principle.
        </li>
        <li>
          Collaborate with 15+ teams, 10+ designers, PMs, and other sister
          companies for its adoption.
        </li>
      </ul>
    </section>
    <section>
      <CompanyDetails
        company="Cure.Fit (Now cult.fit)"
        department="Audit Platform"
        href="https://www.linkedin.com/company/cult.fit/"
        role="Team Lead"
        designation="Full Stack Developer"
        icon="company_cure.fit"
        endDate="Aug 2020"
        startDate="Feb 2020"
      />
      <ul>
        <li>
          I led a team of full-stack developers for the Audit Platform (Spring
          APIs + Mobile App + Web).
        </li>
        <li>
          Improved page load time by ~20% and TTI by ~15% by re-writing the
          entire web app with lazy loading, windowing, and other optimizations.
        </li>
        <li>
          Smart Scheduler - Schedules Audits based on past scores and rules.
        </li>
        <li>
          Automated Training/Re-skilling Assignment based on Audit scores using
          a rule engine.
        </li>
      </ul>
    </section>
    <section>
      <CompanyDetails
        company="Media.net"
        department="Pragmmatic Platform"
        href="https://www.linkedin.com/company/media.net/"
        role="UI Lead"
        designation="Lead Software Engineer"
        icon="company_media.net"
        endDate="Feb 2020"
        startDate="Nov 2019"
      />
      <ul>
        <li>
          I led the UI Engineering team for the Programmatic Platform / Header
          Bidder Platform.
        </li>
        <li>Improved performance of web applications.</li>
        <li>
          Built a highly configurable react component library based on the
          styled system.
        </li>
      </ul>
    </section>
    <section>
      <CompanyDetails
        company="Infosys Ltd"
        department="Strategic Technology Group - Expert Track"
        href="https://www.linkedin.com/company/infosys/"
        role="Team Lead"
        designation="Specialist Programmer"
        icon="company_infosys"
        endDate="Nov 2019"
        startDate="June 2014"
      />
      <ul>
        <li>I led a team of 8 developers in building the Wingspan Platform.</li>
        <li>
          I built non-personalized item-to-item recommendations using
          Association Rule Learning.
        </li>
        <li>
          Improved user time spent on the website by ~80% by developing a
          multi-format interactive content player (videos, pdfs, epubs, etc.),
          performance improvements, etc.
        </li>
      </ul>
    </section>
  </section>
</Layout>
