---
import Layout from "../layouts/layout.astro";
import { siteProfile } from "../constants/links";
import Link from "../components/link.astro";

const title = "Sujeet Jaiswal";
const description = "I help build accessible and performant products on Web.";
---

<Layout
  article={false}
  title={title}
  description={description}
  image={null}
  pageDetails={{ type: "site" }}
  class="flex flex-col gap-20 sm:my-24"
>
  <section aria-label="Introduction" class="flex flex-col md:flex-row gap-10">
    <div>
      <img
        src="/assets/default-images/sujeet-min.jpg"
        alt="Sujeet Jaiswal"
        class="rounded-full w-full max-w-sm mx-auto"
        width="864"
        height="864"
      />
    </div>
    <div class="flex flex-col gap-10 text-center md:text-left">
      <p class="text-5xl sm:text-6xl">Hello, I'm</p>
      <h1 class="text-7xl xl:text-9xl">Sujeet Jaiswal</h1>
      <p class="text-3xl sm:text-4xl">
        Helping people make the world a better place through quality software.
      </p>
      <Link
        config={siteProfile}
        iconName={null}
        class="max-w-max mx-auto md:mx-0"
        skin="cta"
      >
        Know more about me
      </Link>
    </div>
  </section>
</Layout>

<script>
  declare global {
    interface Window {
      netlifyIdentity: {
        on(type: string, cb: (user: any) => void): void;
      };
    }
  }
  function initNetlifyCMSLazily() {
    if (!window.location.search) return null;
    const script = document.createElement("script");
    script.src = "https://identity.netlify.com/v1/netlify-identity-widget.js";
    script.onload = () => {
      if (
        window.netlifyIdentity &&
        typeof window.netlifyIdentity.on === "function"
      ) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/studio/";
            });
          }
        });
      }
    };
    document.body.appendChild(script);
    return null;
  }
  setTimeout(() => {
    initNetlifyCMSLazily();
  }, 5000);
</script>
