---
import Link from "./link.astro";
import {
  socialInstagram,
  socialLinkedIn,
  socialMastodon,
  socialTwitter,
  communityHashedNode,
  communityDevTo,
  communityMedium,
  communityGithub,
  communityStackoverflow,
  notesJS,
  notesLeadership,
  notesWeb,
  cv,
  siteHome,
  siteBlog,
  siteFaq,
  siteMap,
  siteProfile,
  siteProjects,
  siteSkills,
} from "../constants/links";

const currentYear = new Date().getFullYear();
const allLinks = [
  {
    category: "Social",
    links: [socialLinkedIn, socialTwitter, socialInstagram, socialMastodon],
  },
  {
    category: "Community",
    links: [
      communityHashedNode,
      communityDevTo,
      communityMedium,
      communityGithub,
      communityStackoverflow,
    ],
  },
  {
    category: "Notes",
    links: [notesWeb, notesLeadership, notesJS, cv],
  },
  {
    category: "Site",
    links: [
      siteHome,
      siteBlog,
      siteFaq,
      siteProfile,
      siteProjects,
      siteSkills,
      siteMap,
    ],
  },
];
---

<footer class="border-t border-slate-300 dark:border-slate-600 px-2 py-6">
  <nav
    class="flex flex-col sm:flex-row justify-around max-w-screen-md mx-auto divider-x-2"
  >
    {
      allLinks.map(({ category, links }) => (
        <ul>
          <li class="font-bold mb-2">{category}</li>
          {links.map((link) => (
            <li>
              <Link
                class="block py-3"
                isExternal={link.isExternal}
                href={link.href}
                iconName={link.iconName}
                iconPosition={link.iconPosition}
              >
                {link.text}
              </Link>
            </li>
          ))}
        </ul>
      ))
    }
  </nav>
  <p class="text-center mt-6">&copy; {currentYear} Sujeet Jaiswal</p>
</footer>
