---
import Link from "./link.astro";
import {
  cv,
  devTo,
  github,
  hashedNode,
  instagram,
  linkedIn,
  medium,
  stackoverflow,
  twitter,
  notesJS,
  notesLeadership,
  notesWeb,
  blog,
  mastodon,
} from "../constants/links";

const currentYear = new Date().getFullYear();
const allLinks = [
  {
    category: "Social",
    links: [linkedIn, twitter, instagram, github, mastodon],
  },
  {
    category: "Writing",
    links: [medium, devTo, hashedNode, stackoverflow],
  },
  {
    category: "Notes",
    links: [blog, notesWeb, notesLeadership, notesJS, cv],
  },
];
---

<footer class="border-t border-slate-300 dark:border-slate-600 px-2 py-6">
  <nav
    class="flex flex-col sm:flex-row justify-around max-w-screen-md mx-auto divider-x-2"
  >
    {
      allLinks.map(({ category, links }) => (
        <ul>
          <li class="font-bold mb-2">{category}</li>
          {links.map((link) => (
            <li>
              <Link
                class="block py-3"
                isExternal={link.isExternal}
                href={link.href}
                iconName={link.iconName}
                iconPosition={link.iconPosition}
              >
                {link.text}
              </Link>
            </li>
          ))}
        </ul>
      ))
    }
  </nav>
  <p class="text-center mt-6">&copy; {currentYear} Sujeet Jaiswal</p>
</footer>
