---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";

export async function getStaticPaths() {
  const entries = await getCollection("page");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props as { entry: CollectionEntry<"blog"> };
const { Content } = await entry.render();
const {
  title,
  description,
  coverImg,
  tags,
  topics,
  publishedOn,
  lastUpdatedOn,
} = entry.data;
---

<Layout
  sidenav={false}
  prose={true}
  title={title}
  description={description}
  image={coverImg}
  pageType="site"
  tags={[...(tags || []), ...(topics || [])]}
  publishedDate={publishedOn}
  updatedDate={lastUpdatedOn}
>
  <h1 class="text-center">{entry.data.title}</h1>
  {
    entry.data.coverImg ? (
      <img
        class="w-full max-h-96 object-cover"
        role="presentation"
        src={entry.data.coverImg}
      />
    ) : null
  }
  <Content />
</Layout>
